* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #E0E9F4;
    font-family: 'plus jakarta sans',sans-serif;
}
.container {
    margin: 10px 80px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding-bottom: 40px;
    backdrop-filter: blur(10px);
    
    
}
.navbar div {
    display: flex;
    align-items: center;
    
}
.first-side {
    display: flex;
    align-items: center;
    width: 60%;
}
.first-side h1 {
    color: #3563E9;
    position: relative;
    margin-right: 50px;
}
.first-side span {
    display: flex;
    align-items: center;
    padding:0px 20px ;
    border: 1px solid rgba(0, 0, 0, .2);
    width: 50%;
    border-radius: 20px;
}
.first-side span input {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'plus jakarta sans',sans-serif;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}
.second-side{
    position: relative;
    display: flex;
    align-items: center;
}
.first-side span  i{
    transition: color .4s ease;
    cursor: pointer;
}
.first-side span  i:hover{
    color: #3563E9;
}
.second-side i {
    cursor: pointer;
    margin: 0px 10px;
    font-size: 20px;
}
.second-side i {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 50%;
    padding: 10px;
}
.second-side i:last-of-type{
    transition: transform .8s ease, color .4s ease,border-color .4s ease-in-out;
}
.second-side i:first-of-type{
    transition: all .3s ease;
}
.second-side i:nth-of-type(2){
    transition: all .3s ease;
}
.second-side i:last-of-type:hover {
    transform: rotate(90deg);
    color: #5c0099;
    border-color: #5c0099;
}
.second-side i:first-of-type:hover {
    color: red  ;
    border-color: red;
}
.second-side i:nth-of-type(2):hover {
    color: #ffd100;
    border-color: #ffd100;
}

.top .first-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
main {
    margin-top: 40px;
}
.top .first-element span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50%;
    padding: 20px;
    color:#E0E9F4;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .2);
}
.top .first-element span h2,.top .first-element span  p{
    width: 40%;
    text-transform: capitalize;
} 
.top .first-element span h2{
    font-size: 30px;
    width: 50%;
}
.top .first-element span:first-of-type{
    background: url(Ads\ 1.svg) no-repeat center ;
    background-size: cover;
}   
.top .first-element span:last-of-type{
    background: url(Ads\ 2.svg) no-repeat center ;
    background-size: cover;
}   
button {
    width: 20%;
    font-family: 'plus jakarta sans',sans-serif;
    font-weight: 400;
    border: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #3563E9;
    transition: transform .4s ease,text-shadow .4s ease-in,border-reduis .4s ;
}
.first-element span:last-of-type button{
    background: #54A6FF;
}
button:hover, button:focus {
    text-shadow: 0px 0px 20px #fff;
    transform: scale(1.1);
    border-radius: 10px;
}
.get {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}
.get div {
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: box-shadow .4s ease;
}
.get div:hover {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, .1);
}
.get div > span:not(.get div > span:first-of-type) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.get div > span > span:not(.get div > span > span:first-of-type) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    border-left: 1px solid rgba(0, 0, 0, .2);
    padding-left: 20px;
}
.get div > span > 
.get div > span > span h5 {
    font-size: 17px;
}
select {
    background-color: transparent;
    border: none;
    font-family: 'plus jakarta sans',sans-serif;
    outline: none;
}
option {
    font-family: 'plus jakarta sans',sans-serif;
}
.get i {
    background-color: #3563E9;
    padding: 20px;
    font-size: 18px;
    color: #fff;
    
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .1);
    border-radius: 15px;
    transition: transform .5s ease;
}
.get i:hover {
    transform: rotate(180deg);
    border-radius: 50%;
}
.get h5 {
    font-size: 18px;
}
button {
    cursor: pointer;
}
.spearator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    font-weight: 500;
}
.spearator p {
    color: #90A3BF;
}
.spearator a {
    text-decoration: none;
    transition: all .4s ease;
}
.spearator a:hover {
    color: #3563E9;
}
.popular-cars {
    display: flex;
    gap: 0px;
    margin-top: 40px;
    align-items: center;
    flex-wrap: wrap;
}
.popular-cars div {
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    min-width: 23%;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 10px;
    margin-bottom: 40px;
    background-color: #fff;
}

.popular-cars div span {
    display: flex;
    align-items: center; 
    margin: 10px 0px 30px;
    justify-content: space-between;
}
.popular-cars div span button {
    width: 40%;
}
.popular-cars div span button:hover {
    transform: scale(1);
    border-radius: 0px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, .1);
}
.popular-cars div span:nth-of-type(2){
    justify-content: center;
    gap: 20px;
}
.popular-cars div span:last-of-type p {
    font-weight: 500;
}
.popular-cars:hover div{
    filter: blur(3px);
    opacity: .5;
    transform: scale(.99);
    transition: all .5s ease-out;
}
.popular-cars div:hover {
    filter: blur(0px);
    opacity: 1;
    transform: scale(1.03);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .1);
}
.middle .popular-cars:hover div {
    filter: blur(0px);
}
.show {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:16px;
    color:black;
    padding:20px;
    border-top: 2px dashed rgba(0, 0, 0, .2);
}
footer div:last-of-type {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .top .first-element {
        display: flex;
        flex-direction: column;
    }

    .top .first-element span {
        width: 100%;
    }
    .get {
        flex-direction: column;
    }
    .get div {
        width: 100%;
    }
    .show button {
        width: 40%;
    }
  }
  @media only screen and (max-width: 767px) {
    .container {
        margin: 10px 10px;
    }
    .second-side i:not(i:last-of-type){
        display: none;
    }
    .first-side i,.first-side input {
        display: none;
    }
    .top .first-element {
        flex-direction: column;
    }
    .top .first-element span {
        width: 100%;
        text-align: center;
        backdrop-filter: blur(10px);

    }
    .top .first-element span h2,.top .first-element span p,.top .first-element span button {
        width: 100%;
    }
    .get {
        flex-direction: column;
    }
    .get div {
        width: 100%;
        font-size: 1rem;
    }
    .get div span:not(.get div span:first-of-type) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .get div > span > span:not(.get div > span > span:first-of-type){
        border: none;
        padding: 0px;
    }
    .show button {
        width: 40%;
    }
    footer {
        flex-direction: column;
        align-items: flex-start;
    }
    footer p {
        display: none;
    }
  }